<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.4/TweenMax.min.js"></script>
<script src="{{site.url}}/assets/main.js"></script>
{% include footer_cta.html %}
<div class="som-footer">
  <div class="som-wrapper flex">
    <div class="som-footer-left">
      <h1>States of Mind is a self-development movement. Our organisation is led by young people and psychologists who give mental health a new meaning through education and social action.</h1>
      <!-- <h2>Support us</h2> -->
    </div>
    <div class="som-footer-right">
      <h1>Contact</h1>
      <ul class="contact">
        <li><a href="mailto:Info@statesofmind.org">Info@statesofmind.org</a></li>
        <li><a href="mailto:bea@statesofmind.org">bea@statesofmind.org</a></li>
        <li>Registered Corporate Interest Company</li>
        <li>Company number 11012461</li>
      </ul>
      <h1>Follow us</h1>
      <ul class="social">
        <li>{% include facebook.html %}</li>
        <li>{% include instagram.html %}</li>
        <li>{% include twitter.html %}</li>

      </ul>
      <ul class="small-print">
        <li>States of mind</li>
        <li>The Theraputic rebellion</li>
        <li>Website designed by Estefi Panizza & Ben Longden</li>
      </ul>
    </div>
  </div>
</div>
</html>
</body>
