<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.4/TweenMax.min.js"></script>
<script src="{{site.url}}/assets/main.js"></script>

<div class="som-footer">
  <div class="som-wrapper flex">
    <div class="som-footer-left">
      <h1>States of Mind is an organisation that has been designed to listen to your experiences in life. We invite everyone to take part in the social remedy to our deepest pain.</h1>
      <h2>Support us</h2>
    </div>
    <div class="som-footer-right">
      <h1>Contact</h1>
      <ul class="contact">
        <li>bea@statesofmind.org</li>
        <li>Registered Corporate Interest Company</li>
        <li>Company number 11012461</li>
      </ul>
      <h1>Follow us</h1>
      <ul class="social">
        <li>{% include facebook.html %}</li>
        <li>{% include instagram.html %}</li>
      </ul>
      <ul class="small-print">
        <li>States of mind</li>
        <li>The Theraputic rebellion</li>
        <li>Website designed by VOS</li>
      </ul>
    </div>
  </div>
</div>
</html>
</body>
