<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.4/TweenMax.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="/assets/main.js"></script>
{% include footer_cta.html %}
<div class="som-footer">
  <div class="som-wrapper flex">
    <div class="som-footer-left">
      <h1>States of Mind is a self-development movement. Our organisation is led by young people and psychologists who give mental health a new meaning through education and social action.</h1>
      <ul class="sub-menu">
        <li><a href="https://www.statesofmind.org/privacy-policy">Privacy policy</a></li>
        <li><a href="https://www.statesofmind.org/terms-of-use">Terms of use</a></li>
        <li><a href="https://www.statesofmind.org/safeguarding">Safeguarding</a></li>
      </ul>
      <!-- <h2>Support us</h2> -->
    </div>
    <div class="som-footer-right">
      <h1>Contact</h1>
      <ul class="contact">
        <li><a href="mailto:Info@statesofmind.org">info@statesofmind.org</a></li>
        <li><a href="mailto:bea@statesofmind.org">bea@statesofmind.org</a></li>
        <li>Registered Community Interest Company</li>
        <li>Company number 11012461</li>
      </ul>
      <h1>Follow us</h1>
      <ul class="social">
        <li>{% include facebook.html %}</li>
        <li>{% include instagram.html %}</li>
        <li>{% include twitter.html %}</li>
      </ul>
      <ul class="small-print">
        <li>States of mind</li>
        <li>The Therapeutic rebellion</li>
        <li>Website designed and build by <a href="https://estefi-panizza.com/">Estefi Panizza</a> & <a href="http://www.benlongdendesign.co.uk/">Ben Longden</a></li>
      </ul>
    </div>
  </div>
</div>
</html>
</body>
