<!--
{% assign template = slide.Template %}
{% assign title = slide.Title %}
{% assign image = slide.Image %}
{% assign description = slide.Description %}
{% assign graphic = slide.['Graphic Image'] %}
{% assign audio = slide.['Audio url'] %}
{% assign video = slide.['Video Url'] %}
{% assign credit = slide.['Credit'] %}
{% assign quote = slide.['Quote'] %}
{% assign quoteCred = slide.['Quote Credit'] %}
{% assign links = slide.Links %}
-->
<div class="discussion-header">
  <h1 class="slide-title">Discussion</h1>
</div>
<div class="slide-content">
  <div class="slide-description">{{description | markdownify}}</div>
  {% if audio %}
    <div class="som-audio-player">
      <audio src="{{audio}}" controls ></audio>
    </div>
  {% endif %}
</div>
<form id="test-form">
  <div>
    <label>Join the discussion</label>
    <textarea type="text" name="BFM_c" placeholder="Type your answer here"/></textarea>
  </div>
  <div>
    <button type="submit"id="submit-form">Join!</button>
  </div>
</form>
{% if credit %}
  <small>{{credit}}</small>
{% endif %}
