<!--
{% assign template = slide.Template %}
{% assign title = slide.Title %}
{% assign image = slide.Image %}
{% assign description = slide.Description %}
{% assign graphic = slide.['Graphic Image'] %}
{% assign audio = slide.['Audio url'] %}
{% assign video = slide.['Video Url'] %}
{% assign credit = slide.['Credit'] %}
{% assign quote = slide.['Quote'] %}
{% assign quoteCred = slide.['Quote Credit'] %}
{% assign links = slide.Links %}
-->
<div class="slide-content">
  <h2 class="slide-title">{{title}}</h2>
  {% if audio %}
    <div class="som-audio-player">
      <audio src="{{audio}}" controls ></audio>
    </div>
  {% endif %}
</div>
<div class="slide-image">
  <img src="{{image}}">
</div>
