<!--
{% assign template = slide.Template %}
{% assign title = slide.Title %}
{% assign image = slide.Image %}
{% assign description = slide.Description %}
{% assign graphic = slide.['Graphic Image'] %}
{% assign audio = slide.['Audio url'] %}
{% assign video = slide.['Video Url'] %}
{% assign credit = slide.['Credit'] %}
{% assign quote = slide.['Quote'] %}
{% assign quoteCred = slide.['Quote Credit'] %}
{% assign links = slide.Links %}
-->
<div class="slide-content">
  <h2 class="slide-title">
    {{title}}
    {% if links %}
      {% for link in links %}
        <a class="som-button" href="https://{{link.['Link Url'] | uri_escape }}">Go to handbook <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.66598 7.54202H22.4791c.8476 0 1.5348.68715 1.5348 1.53479V22.8899c0 .8477-.6872 1.5348-1.5348 1.5348-.8476 0-1.5348-.6871-1.5348-1.5348V12.7821L9.07708 24.6493l-2.17052-2.1705L18.7738 10.6116H8.66598c-.84765 0-1.5348-.68715-1.5348-1.53479 0-.84764.68715-1.53479 1.5348-1.53479z" fill="#000"/></svg></a>
      {% endfor %}
    {% endif %}
  </h2>
  {% if audio %}
    <div class="som-audio-player">
      <audio src="{{audio}}" controls ></audio>
    </div>
  {% endif %}
  <svg width="80" height="394" viewBox="0 0 80 394" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.564 393.159h47.52V123.843h-47.52v269.316z" fill="#1D1D1B"/><path fill-rule="evenodd" clip-rule="evenodd" d="M79.92 40.261A39.608 39.608 0 0168.32 68.266 39.597 39.597 0 01.72 40.261a39.608 39.608 0 0111.598-28.005A39.597 39.597 0 0179.92 40.26" fill="#156583"/></svg>
</div>
