//Panel colours
.green {
  background-color: $nu-green !important;
}

.white {
  background-color: #fff !important;
}

.blue {
  background-color: $nu-blue !important;
}

.beige {
  background-color: $nu-beige !important;
}

.pink {
  background-color: $nu-pink !important;
}

.top {
  object-position: top;
}

.bottom {
  object-position: bottom;
}

.left {
  object-position: left;
}

.right {
  object-position: right;
}

.centre {
  object-position: center;
}


.som-panel {
  min-height: 100vh;
  height: auto;
  background-color: grey;
  color: $bright-grey;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #121212;
  will-change: opacity;
  padding-top: 40px;
  padding-bottom: 40px;

  &.som-news {
    padding: 0;
  }

  &.noPad {
    padding: 0;
  }

  @include mq($from: desktop) {
    padding-top: 0;
    padding-bottom: 0;
  }

  //general panel styles
  .som-left, .som-right {
    width: 100%;
    min-height: 50vh;
    position: relative;

    @include mq($from: desktop) {
      width: 50%;
      min-height: 100vh;
    }

    img {
      &.animate-in {
         transform: translateX(100%);
         transition: all ease-in-out 1s;

         &.animateNow {
           transform: translateX(0);
         }
      }
    }

    .som-scroll-sub-head {
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: left;
      font-family: 'Prestige';
      color: #121212;

      @include mq($from: desktop) {
        margin-bottom: 25vh;
        margin-top: 13vh;
        text-align: center;
      }

      @include mq($from: wide) {
        margin-top: 25vh;
      }
    }

    .som-video-style {
      position: relative;
      z-index: 10;

      @include mq($from: desktop) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      iframe {
        @include mq($until: tablet) {
          width: 100%;
          height: auto;
        }
      }

      p {
        font-family: 'Circular';
        color: #121212;
        text-align: center;

        @include mq($from: desktop){
          text-align: left;
        }

        a {
          font-style: normal;
        }
      }
    }

    .som-image-style {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      object-position: center;
      z-index: 10;

      @include mq($from:desktop) {
        @include size(4.35);
        height: 45vw;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 10;
        position: relative;
      }

      &:after {
        position: absolute;
        top: 10px;
        bottom: -15px;
        right: -10px;
        left: 10px;
        border: 1px solid #121212;
        content: '';
        display: none;
        background-color: #fff;

        @include mq($from: desktop) {
          display: block;
        }
      }
    }

    .centred {
      width: 100%;
      text-align: center;

      @include mq($from: desktop) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
      }

      &.small {

        .som-scroll-sub-head {
          @include font-size(1,1);
          margin-bottom: 10px;
          margin-top: 0px;
          text-align: center;
        }

        span {
          @include font-size(1.2, 1.2);
          margin-top: 20px;
          display: block;

          @include mq($from: desktop) {
            @include font-size(1.8, 1.8);
          }
        }
      }

      &.uncentre {
        top: 0;
        transform: translate(0, 0);

        @include mq($from: desktop) {
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    h1 {
      @include font-size(1.8, 1.8);
      line-height: 1.2;
      margin: 0;
      color: #121212;

      @include mq($from: desktop) {
        @include font-size(3, 2.5);
      }
    }

    p {
      font-family: 'Prestige';

      a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid #121212;
      }
    }
  }

  .som-sub-head {
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    font-family: 'Prestige';
    color: #121212;
  }

  .logos {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    mix-blend-mode: multiply;

    .logo {
      margin-right: 20px;
      height: auto;
    }
  }
  //End general panel styles

  //Panel Types

  //Contact
  &.contact {
    background-color: transparent;
  }

  //Scroller
  &.scroller {
    overflow: unset;

    .som-team-grid {
      margin-top: 30px;

      @include mq($from: desktop) {
        margin-top: 25vh;
      }

      ul {
        li {
          width: 100%;

          .team-wrapper {
              max-width: 171px;
              max-height: 171px;
              margin-bottom: 20px;
              border-radius: 50%;
              overflow: hidden;

              img {
                transform: scale(1);

              }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }

          p {
            @include font-size(1,1);
            margin-bottom: 20px;

            strong {
              font-family: 'Prestige';
              display: block;
              margin-bottom: 20px;
            }

            &:after {
              display: none;
            }
          }
          &:nth-child(even) {
            margin-left: auto;
          }
        }
      }
    }

    &.left {
      .som-left-title {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

        @include mq($from: desktop) {
          width: 80%;
        }

        &.centred {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        svg {
          width: 100%;
          height: auto;
        }
      }

      .som-left_numbers {
        margin-left: 5%;
        margin-bottom: 10px;


        @include mq($from: desktop) {
          position: absolute;
          bottom: 30px;
          margin-left: 10%;
        }

        span {
          display: block;
          @include font-size(2, 2);
          color: #121212;

          @include mq($from: desktop){
            @include font-size(4, 3);
          }
        }
      }
      .som-left {
        position: relative;
        min-height: 0;
        top: 0;

        &.news {
          background-color: $nu-blue;

          .som-page-title-news {
            width: 100%;

            svg {
              @include mq($from: desktop) {
                margin-left: 6%;
              }
            }
          }
        }

        &.our-team {
          min-height: 70vh;

          .som-left-title {
            margin-top: 0;

            @include mq($from: desktop) {
              margin-top: 30px;
            }
          }
        }

        @include mq($from: desktop) {
          position: sticky;
          min-height: 50vh;
          height: 100vh;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &.right {
      .som-right {
        position: sticky;
        min-height: 0;
        top: 0;

        @include mq($from: desktop) {
          height: 100vh;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &.book {
      .som-scroll-sub-head {
        margin-bottom: 10px !important;
      }
      .som-scroll-text {
        width: 90%;

        @include mq($from: desktop) {
          @include size(4.2);
        }

        h1 {
          margin-bottom: 20px;
          @include font-size(2.2, 1.8);
          margin-top: 30px;

          @include mq($from: desktop) {
            margin-top: 100px;
            margin-bottom: 50px;
            @include font-size(4, 3);
          }

          &:nth-child(2) {
            margin-top: 10px;
          }
        }

        p {
          font-family: 'Circular';
          @include font-size(1, 1);
          margin-bottom: 10px;

          @include mq($from: desktop) {
            @include font-size(1.9, 1.9);
          }

          &:after {
            display: none;
          }
        }

        a {
          font-family: 'Prestige';
          font-style: normal;
          @include font-size(1,1);
        }
      }
    }

    .som-scroll-text {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 20px;

      @include mq($from: desktop) {
        padding-bottom: 30vh;
        @include size(3.35);
      }

      &.bottom {
        padding-bottom: 0;
        margin-top: 20px;

        @include mq($from: desktop){
          position: absolute;
          bottom: 30px;
          margin-top: 0;
        }
      }

      &.right {
        margin-left: 5%;
      }

      &.left {
        margin-left: 5%;

        @include mq($from:desktop) {
          margin-left: 10%;
        }

        .som-scroll-sub-head {
          text-align: left;
        }
      }

      img {
        display: block;
        transform: scale(0.7);
        transform-origin: left;

        @include mq($from: desktop) {
          transform: scale(1);
        }
      }

      .som-scroll-sub-head {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: left;
        font-family: 'Prestige';
        color: #121212;

        @include mq($from: desktop) {
          margin-bottom: 25vh;
          margin-top: 13vh;
          text-align: center;
        }
        @include mq($from: wide) {
          margin-top: 25vh;
        }
      }

      h1 {
        @include font-size(1.8, 1.8);

        @include mq($from: desktop) {
          @include font-size(2.5, 1.9);
        }
      }

      p {
        margin-bottom: 40px;
        color: #121212;
        @include font-size(1, 1);

        @include mq($from: desktop) {
          margin-bottom: 200px;
        }

        strong {
          display: block;
          font-weight: 400;
          margin-top: 20px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        &:after {
          width: 100%;
          height: 1px;
          background-color: $nu-grey;
          content: '';
          display: none;
          position: absolute;
          margin-top: 100px;
          left: 0;

          @include mq($from: desktop) {
            display: block;
          }
        }
      }
      a {
        padding: 20px;
        border: 1px solid #121212;
        display: block;
        width: max-content;
        margin-top: 30px;
      }
    }
  }

  //Quote
  &.quote {
    h3 {
      font-family: 'Prestige';
      line-height: 1.2;
      color: #121212;
      margin-top: 40px;
    }

    a {
      font-family: 'Prestige';
      color: #121212 !important;
      font-style: normal !important;
      border: 1px solid #121212;
      padding: 20px;
      margin-top: 20px;
      display: inline-block;
    }

    h1 {
      &:before {
        background-image: url('http://statesofmind.siteleaf.net/uploads/quote.svg');
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;

        @include mq($from: desktop) {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  //Overlap
  &.overlap {
    &.full {
      &.right{
        &:after {
          display: none;
        }
      }
      &.left{
        &:after {
          display: none;
        }
      }
    }
    &.right {
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 25%;
        background-color: #fff;
        content: '';
        z-index: 0;
        display: none;

        @include mq($from: desktop) {
          display: block;
        }
      }
    }
    &.left {
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 25%;
        background-color: #fff;
        content: '';
        z-index: 0;
        display: none;

        @include mq($from: desktop) {
          display: block;
        }
      }
    }
  }
}
