@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro.woff2') format('woff2'),
        url('ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$black: #4A4A4A;
$grey: #333333;
$lightBlue: #85bfe4;
$darkPink: #ea6e80;
$pink: #eea8bb;
$yellow: #ffdc7b;
$green: #a8c1ac;

@keyframes gradient {
  0% {
    background-color: $green;
    width: 92vh;
    height: 92vh;
  }
  25% {
    background-color: $darkPink;
  }
  50% {
    background-color: $pink;
    width: 96vh;
    height: 96vh;
  }
  75% {
    background-color: $yellow;
  }
  100% {
    background-color: $lightBlue;
    width: 92vh;
    height: 92vh;
  }
}

body {
  font-family: 'Apercu Pro';
  padding: 0;
  margin: 0;
  font-weight: 200;
  color: $grey;
}

.grid {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.col {
  border-left: 1px solid red;
  border-right: 1px solid red;
  flex-grow: 1;
  margin-right: 10px;
  display: none;


  &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
    display: block;
  }

  @include mq($from: tablet) {
    &:nth-child(5), &:nth-child(6) {
      display: block;
    }
    &:nth-child(6) {
      margin-right: 0;
    }
  }

  @include mq($from: desktop) {
    &:nth-child(8), &:nth-child(9),  &:nth-child(9), &:nth-child(10) {
      display: block;
    }
    &:nth-child(6) {
      margin-right: 10px;
    }
    &:nth-child(10) {
      margin-right: 0;
    }
  }

  @include mq($from: wide) {
    &:nth-child(11), &:nth-child(12) {
      display: block;
    }
    &:nth-child(10) {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


.som-wrapper {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;

  @include mq($from: desktop) {
    padding: 0;
  }
}

.flex {
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;

  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    width: 7.55vw;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.som-header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-top: 60px;

  .flex {
    justify-content: space-between;

    ul {
      display: flex;
      flex-direction: column;

      @include mq($from: desktop) {
        flex-direction: row;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wipeHeight {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

.som-splash {
  height: 100vh;
  width: 100%;
  background-color: pink;
  position: relative;
  overflow: hidden;
}

.som_splash__image-wrapper {
  overflow: hidden;
  animation-name: wipeHeight;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.som-splash__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 1;
  transform: scale(1.1);
}

@keyframes enlarge{
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.som-cirlce__large {
  width: 92vh;
  height: 92vh;
  background-color: $green;
  border-radius: 50%;
  animation-name: gradient;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  will-change: transform;
  transition: all ease-in-out 1s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  &.remove {
    top: -50%;
    transition: all ease-in-out 5s;
  }


  h1 {
    position: absolute;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1px;
    color: $grey;
    font-weight: 100;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);

    span {
      display: block;
      font-size: 80px;
      line-height: 75px;
      letter-spacing: -2px;
      text-transform: capitalize;

    }
    .som-splash__broken-text {
      margin-left: 250px;
    }
  }
}

.som-square__1 {
  width: 23.8vw;
  height: 23.8vw;
  background-color: grey;
  margin-top: 9%;
  margin-bottom: 9%;

  &:nth-child(1) {
    @include mq($from: wide) {
        margin-left: 9.2%;
    }
  }

  @include mq($from: wide) {
      margin-left: 9.8%;
  }
}

.som-square__2 {
  width: 32.1vw;
  height: 32.1vw;
  background-color: grey;
  margin-top: 9%;
  margin-bottom: 9%;

  &:nth-child(1) {
    @include mq($from: wide) {
        margin-left: 9.2%;
    }
  }

  @include mq($from: wide) {
      margin-left: 9.8%;
  }
}

.som-panel {
  height: 100vh;
  background-color: #333;
}
