@import '_mq';

@font-face {
    font-family: 'Circular';
    src: url('CircularStd-Bold.woff2') format('woff2'),
        url('CircularStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('CircularStd-Book.woff2') format('woff2'),
        url('CircularStd-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('CircularStd-Medium.woff2') format('woff2'),
        url('CircularStd-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('CircularStd-Black.woff2') format('woff2'),
        url('CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Prestige';
    src: url('prestige.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$black: #4A4A4A;
$grey: #333333;
//brights
$lightBlue: #85bfe4;
$darkPink: #ea6e80;
$pink: #eea8bb;
$yellow: #ffdc7b;
$green: #a8c1ac;
$bright-grey:#bebebe;
//neutrals
$nu-pink: #edc9c9;
$nu-green: #E7EEE7;
$nu-slate: #e7eee7;
$nu-blue: #A3C3CF;
$nu-blue-2: #62B1CF;
$nu-blue-3: #2687D1;
$nu-olive: #ded9b3;
$nu-grey-1: #E5E5E5;
$nu-grey: #9b9b9b;
$nu-pink: #F8A4B8;
$nu-beige: #FFF3DA;
//dark
$dark-blue:#406d84;

@keyframes gradient {
  0% {
    background-color: $nu-olive;
    width: 85vh;
    height: 85vh;
  }
  10% {
    background-color: $nu-olive;
  }
  25% {
    background-color: $dark-blue;
  }
  50% {
    background-color: $pink;
    width: 90vh;
    height: 90vh;
  }
  75% {
    background-color: $yellow;
  }
  100% {
    background-color: $nu-olive;
    width: 85vh;
    height: 85vh;
  }
}

@mixin font-size($size, $line-height) {
  font-size: calc(16px * #{$size});
  line-height: calc(20px * #{$line-height});
}

@mixin size($col) {
  width: calc(90vw / 4 * #{$col} + (1.1% * #{$col}));

  @include mq($from: tablet) {
    width: calc(90vw / 6 * #{$col} + (1.1% * #{$col}));
  }
  @include mq($from: desktop) {
    width: calc(90vw / 10 * #{$col} + (1.1% * #{$col}));
  }
  @include mq($from: wide) {
    width: calc(90vw / 12 * #{$col} + (1.1% * #{$col}));
  }
}

@mixin widths($col, $property) {
  $property: calc(90vw / 4 * #{$col} + (1.1% * #{$col}));

  @include mq($from: tablet) {
    $property: calc(90vw / 6 * #{$col} + (1.1% * #{$col}));
  }
  @include mq($from: desktop) {
    $property: calc(90vw / 10 * #{$col} + (1.1% * #{$col}));
  }
  @include mq($from: wide) {
    $property: calc(90vw / 12 * #{$col} + (1.1% * #{$col}));
  }
}

html {
  overflow-x: hidden;

  @include mq($from: desktop) {
    overflow: unset;
  }
}

body {
  font-family: 'Circular';
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: $grey;
  overflow-x: hidden;
}

h1 {
  font-weight: 400;
}

#canvas4 {
  position: fixed;
  z-index: 0;
  opacity: 1;
  filter:blur(80px);
  pointer-events: none;
}

.circle-follower {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: 0px 0 0 0px;
  background: $pink;
  border-radius: 80%;
  backface-visibility: hidden;
  pointer-events: none;
  z-index: 10000;
  transition: transform ease-in-out 1s;
  opacity: 0.5;
  display: none;

  @include mq($from: desktop){
    display: block;
  }

  &.enlarge {
    transform: scale(3);
    transform-origin: center;
    opacity: 0.5;
  }
}

.grid {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
  display: none;

  &.display {
    display: flex;
  }
}

.col {
  border-left: 1px solid red;
  border-right: 1px solid red;
  flex-grow: 1;
  margin-right: 10px;
  display: none;


  &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
    display: block;
  }

  @include mq($from: tablet) {
    &:nth-child(5), &:nth-child(6) {
      display: block;
    }
    &:nth-child(6) {
      margin-right: 0;
    }
  }

  @include mq($from: desktop) {
    &:nth-child(8), &:nth-child(9),  &:nth-child(9), &:nth-child(10) {
      display: block;
    }
    &:nth-child(6) {
      margin-right: 10px;
    }
    &:nth-child(10) {
      margin-right: 0;
    }
  }

  @include mq($from: wide) {
    &:nth-child(11), &:nth-child(12) {
      display: block;
    }
    &:nth-child(10) {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.som-header__menu {
  display: none;

  @include mq($from: desktop) {
    display: block;
    margin-left: 33%;
  }

  @include mq($from: wide){
    margin-left: 45%;
  }

  ul {
    a {
      color: inherit;
      text-decoration: none;
    }
    li {
      @include font-size(1.3, 1.3);
    }
  }
}

@keyframes jump-open{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes jump{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.menu-mobile {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #166482;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 300;
  animation-name: jump-open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  transform-origin: center;

  &.clicked {
    background-color: #166482;
    animation-name: jump;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
  }

  @include mq($from: desktop) {
    display: none;
  }
}

.mobile-menu-options {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fffff9;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.5s;
  pointer-events: none;

  &.clicked {
    opacity: 1;
    pointer-events: all;
  }

  .mobile-logo {
    position: absolute;
    bottom: 20px;
    left: 10px;
  }

  ul {
    padding-left: 10px;
    padding-top: 10px;

    li {
      color: #121212;
      display: block;
      font-size: 44px;
      line-height: 1;

      a {
        color: #121212;
        text-decoration: none;
      }
    }
  }
}

.som-wrapper {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;

  @include mq($from: desktop) {
    padding: 0;
  }

  &.padding {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.som-inner-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include mq(desktop) {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 270px;
  }
}

.som-page-title {
  padding-top: 100px;
  font-family: 'Circular';
  position: relative;

  .som-wrapper {
    padding-bottom: 20px;
  }

  h1 {
    @include font-size(8, 8);
    margin-bottom: 0;
    color: transparent;
    -webkit-text-stroke: 1.5px #333;
  }
}

.courier {
  font-family: 'Prestige';
  @include font-size(1,1);
}

.white {
  background-color: #fff !important;
  color: $nu-grey;
}

.olive {
  background-color: $nu-olive !important;
  color: $grey;
}
.blue {
  background-color: $nu-blue !important;
  color: $grey;
}

.flex {
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;

  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.numbers {
  @include font-size(10, 6);
  font-weight: 200;
  letter-spacing: -10px;
}

.som-header {
  position: fixed;
  width: 100%;
  z-index: 10000000;
  padding-top: 15px;
  padding-bottom: 15px;

  &.white {
    background-color: #fffff9 !important;
    color: #121212;
  }

  .flex {

    ul {
      display: flex;
      flex-direction: column;

      @include mq($from: desktop) {
        flex-direction: row;
      }
    }
  }

  .som-header__logo {
    width: 120px;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

@keyframes fade-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wipeHeight {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@keyframes blur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot-animate {
  0% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes line-width {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.som-hero-text {

  &.som-wrapper {
    height: 80vh;
    position: relative;

    @include mq($from: desktop) {
      height: 100vh;
    }
  }

  &.half {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
  }

  svg {
    width: 90%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
  }
}

.som-splash {
  height: 80vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #121212;

  @include mq($from:desktop){
    height: 100vh;
  }

  .som-breath {
    position: absolute;
    right: 5%;
    z-index: 10000;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    text-align: right;
    font-family: 'Prestige';
    color: #fff;
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;

    &:before {
      content: '';
      display: block;
      height: 1px;
      background-color: #fff;
      width: 0;
      position:absolute;
      top: 10px;
      animation-name: line-width;
      animation-duration: 2.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-delay: 1.5s;
    }

    .dot {
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      float: left;
      transform: translateX(20vw);
      animation-name: dot-animate;
      animation-duration: 2.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-delay: 1.5s;
    }
  }
}

.som_splash__image-wrapper {
  overflow: hidden;
  opacity: 1;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.som-splash__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 1;

  &.what-we-do {
    object-position: -27vh 100px;

    @include mq($from: desktop) {
      object-position: center;
    }
  }

  &.who-we-are {
    object-position: center;
  }
}

@keyframes enlarge{
  0% {
    height: 70vh;
    width: 70vh;
  }
  50% {
    height: 80vh;
    width: 80vh;
  }
  100% {
    height: 70vh;
    width: 70vh;
  }
}

.circle {
  width: 100%;
  height: 100%;
  animation-duration: 4s;
  animation-name: enlarge;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  will-change: transform;
  transition: all ease-in-out 1s;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transform-origin: center;
  z-index: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: transparent;

  @include mq($from: desktop) {
    width: 92vh;
    height: 92vh;
    border-radius: 50%;
    background-color: $nu-blue;
  }

  &.team {
    animation-name: none;
  }

  .som-welcome & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    margin: auto;
    height: 80vh;
    width: 80vh;
    animation-name: gradient;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .circle-text {

    @include mq($from: desktop) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      @include font-size(4,4);
      color: #121212;
      text-align: center;
    }
    p {
      color: #121212;
      font-family: 'Prestige';
      text-align: center;
      line-height: 1.2;
    }

    .links.flex {
      justify-content: space-between;
      max-width: 340px;
      margin-left: auto;
      margin-right: auto;
      text-transform: capitalize;
      text-align: center;
    }

    a {
      padding: 20px;
      color: #121212;
      font-family: 'Prestige';
      border: 1px solid #121212;
      margin-top: 20px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.left {
    left: 0;

    &.animate-in {
      transform: translate(-100%, -50%);
    }

    &.animateNow {
      transform: translate(-50%, -50%);
    }
  }
  &.right {
    right: 0;
    transform: translate(50%, -50%);
  }
  &.bottom {
    top: 0;
    bottom: 0;
    transform: translate(50%, 50%);
  }

  &.outline {
    border: 1px solid #333;
    background-color: transparent;
  }

  &.yellow {
    background-color: $nu-pink;
  }
}

.som-cirlce__large {
  width: 92vh;
  height: 92vh;
  background-color: $nu-olive;
  border-radius: 50%;
  animation-name: gradient;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  will-change: transform;
  transition: all ease-in-out 2s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  &.remove {
    top: -50%;
    transition: all ease-in-out 5s;
  }


  h1 {
    position: absolute;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: $grey;
    font-weight: 100;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    margin-left: 50px;

    span {
      display: block;
      font-size: 80px;
      line-height: 75px;
      letter-spacing: -2px;
      text-transform: capitalize;
      margin-left: -110px;


    }
    .som-splash__broken-text {
      margin-left: 100px;
    }
  }
}

.som-square__1 {
  width: 23.8vw;
  height: 23.8vw;
  background-color: grey;
  margin-top: 9%;
  margin-bottom: 9%;

  &:nth-child(1) {
    @include mq($from: wide) {
        margin-left: 9.2%;
    }
  }

  @include mq($from: wide) {
      margin-left: 9.8%;
  }
}

.som-square__2 {
  width: 32.1vw;
  height: 32.1vw;
  background-color: grey;
  margin-top: 9%;
  margin-bottom: 9%;

  &:nth-child(1) {
    @include mq($from: wide) {
        margin-left: 9.2%;
    }
  }

  @include mq($from: wide) {
      margin-left: 9.8%;
  }
}

.som-section-title {
  width: 100%;
  border-bottom: 1px solid #121212;

  h2 {
    font-family: 'Prestige';
    @include font-size(1, 1);
    font-weight: 400;
  }
}

.som-blog-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;

    li {
      width: 50%;
      border-right: 1px solid #121212;
      margin: 0;
      box-sizing: border-box;
      border-bottom: 1px solid #121212;

      .blog-image-wrappaer {
        height: 500px;
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid #121212;
      }

      .blog-image {
        width: 480px;
        height: 480px;
        border-radius: 50%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h1 {
        @include font-size(3.5, 3.5);
        border-bottom: 1px solid #121212;
        border-top: 1px solid #121212;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
      }

      h2 {
        @include font-size(1, 1);
        font-weight: 800;
        padding-top: 10px;
        display: block;
        margin-left: 10px;

      }

      p {
        font-family: 'Prestige';
        padding-right: 20px;
        margin-left: 10px;
      }

      h2 {
        border-top: 1px solid #121212;
      }
   }
}

.som-footer {
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: $nu-slate;
  position: relative;

  @include mq($from: desktop) {
    padding-top: 50px;
  }

  .som-wrapper {
    justify-content: space-between;
  }

  ul {
    @include font-size(1.2, 1.2);

    li {
      margin: 0;
      padding: 0;

      a {
        color: inherit;
      }
    }

    &.contact {
      a {
        color: inherit;
        text-decoration: none;
      }
      li:first-child {
        margin-bottom: 20px;
      }
    }

    &.small-print {
      @include font-size(0.8, 0.8);
      margin-top: 40px;
    }

    &.social {
      display: flex;

      li {

        &:nth-child(2), &:nth-child(3) {
          margin-left: 20px;
        }

        &:nth-child(3) {
          svg {
            width: 35px;
            height: auto;
          }
        }
      }
    }
  }
}

.som-footer-left {
  width: 100%;

  @include mq($from: desktop) {
      @include size(4);
  }

  h1 {
    margin-bottom: 100px;
    font-weight: 200;
    font-size: 24px;

    @include mq($from: desktop) {
      font-size: 32px;
    }
  }
}
.som-footer-right {
  @include size(2.8);
}

.som-carousel {
  width: 100%;
  min-height: 70vh;
  padding-bottom: 100px;
  padding-top: 0px;

  @include mq($from: desktop) {
    padding-top: 100px;
  }

  .som-panel-title {
    position: relative;

    h1 {
      opacity: 1 !important;
      @include font-size(2, 1.5);
      width: 77%;

      @include mq($from: desktop) {
        @include font-size(3, 3);
        width: 100%;
      }
    }

    .som-scroll {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &:not(.services) {
    h1 {
      opacity: 0;
    }
  }

  &.services {
    background-color: none;

    p {
      position: absolute;
      bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      @include font-size(1, 1.2);
      font-family: 'Prestige';

      a {
        font-style: italic;
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid #121212;
      }

    }

    h1 {
      text-align: left;
      color: #333;
      @include font-size(2.5, 2.5);
    }

    ul li:nth-child(odd) {
      h1 {
        top: 10px;
        bottom: auto;
      }
    }

    li {
      background-color: #ffffffc7;
      border: 1px solid #121212;


      &.project {
        &:hover {
          background-color: $nu-blue;
        }
      }
      &.research {
        &:hover {
          background-color: $nu-pink;
        }
      }

      &.ambassadors {
        &:hover {
          background-color: $pink;
        }
      }


      &:hover {
        background-color: $nu-olive;
      }
    }
  }

  ul {
    display: flex;
    padding-left: 5%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
      display: none;
    }

    li {
      background-color: $nu-blue;
      width: 90%;
      flex-grow: 3;
      flex-wrap: nowrap;
      height: 70vh;
      margin: 0;
      flex: none;
      position: relative;
      margin-right: 20px;

      @include mq($from: desktop) {
        width: 26%;
      }

      &:after {
        position: absolute;
        top: 10px;
        bottom: -10px;
        right: -10px;
        left: 10px;
        border: 1px solid #121212;
        content: '';
        display: block;
        z-index: -10;
      }

      &:hover {
        h1 {
          opacity: 1;
        }
        img {
          opacity: 0;
        }
      }

      &:nth-child(odd) {
        h1 {
          top: auto;
          bottom: 20px;
        }
      }

      h1 {
        position: absolute;
        z-index: 10;
        top: 10px;
        text-align: left;
        color: $nu-slate;
        padding-left: 20px;
        padding-right: 20px;

        &.shadow-headline {
          position: absolute;
          top: 0;
          left: 0;
          width: 300px;
          bottom: auto;
          z-index: 10000;
          line-height: 1.2;

          &:before {
            background-image: url('http://statesofmind.siteleaf.net/uploads/quote.svg');
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: 100%;
            background-size: cover;
            content: '';
            display: block;
          }

          &.attrib {
            bottom: 10px;
            top: auto;

            &:before {
              display: none;
            }

            span {
              font-size:inherit;
            }
          }
        }

        span {
          display: block;
          @include font-size(1, 1);
        }
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.som-what {

  .som-right {
    border-left: 1px solid #333;
    border-right: 1px solid #333;


    h1 {
      padding-left: 20px;
      border-bottom: 1px solid #333;
    }

    p {
      margin-left: 20px;
    }
  }

  &.research {
    background-color: $nu-olive;
  }
  &.education {
    background-color: $nu-beige;
  }
  &.projects {
    background-color: $nu-blue;
  }

  .som-wwd {

    p {
      @include size(2);
      color: #333;
      margin-top: 0 !important;
    }

    h1 {
      @include font-size(8, 8);
      color: #333;
      border-bottom: 1px solid #333;

    }
  }
}

.som-news-wrapper {
  min-height: 100vh;
  position: relative;
  z-index: 10;

  ul {
    border-left: 1px solid #121212;
    @include font-size(3, 3);
    padding-left: 30px;

    a {
      text-decoration: none;
      color: inherit;
    }
    li {
      height: 50vh;
      border-top: 1px solid #121212;

      p {
        @include font-size(1, 1.2)
      }

      &:before {
        display: inline-block;
        content: '';
        width: 35px;
        height: 35px;
        background-color: $yellow;
        border-radius: 50%;
        margin-left: -48px;
      }
    }
  }
}

.fade-in > * {
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.faded {
    opacity: 1;
  }
}

.som-footer-cta {
  background-color: #fff;
  position: relative;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;

  @include mq($from: desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.som-cta {
  width: 80%;
  border: 1px solid #121212;
  padding: 30px;
  @include font-size(2, 1.5);
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: $nu-pink;
  position: relative;

  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @include mq($from: desktop) {
    width: 30%;
    margin-bottom: 0;
    @include font-size(2.8, 2);
  }

  &:nth-child(2) {
    background-color: $nu-blue-2;
  }

  &:nth-child(3) {
    background-color: $nu-blue-3;
  }

  &:after {
    position: absolute;
    width: 100%;
    top: 10px;
    bottom: -10px;
    left: 10px;
    right: 10px;
    border: 1px solid #121212;
    content: '';
    display: block;
    z-index: -10;
  }
}

.som-contact-content {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 25vh;

  h1 {
    color: #121212;
    @include font-size(2,1.5);

    @include mq($from: desktop) {
      @include font-size(4,4);
    }
  }

  p {
    color: #121212;

    @include font-size(2,1.9);

    @include mq($from: desktop) {
      @include font-size(4,4);
    }
  }

  a {
    color: #121212;
  }
}

.som-news-featured {
  width: 100%;
  .som-news {
    display: none;

    &:nth-child(1) {
      display: flex;
    }

    .som-news-info-wrapper {
      h2 {
        text-transform: capitalize;
        color: #4e4e4e;
      }
    }
  }
}

.som-news {
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    &.at-share-btn {
      position: relative;
      padding: 6px 6px 6px 6px !important;
      margin: 10px !important;
      margin-left: 0 !important;
      line-height: 1;
      display: inline-block;
      float: left;

      @include mq($from: desktop) {
        padding: 8px 2px 6px 8px !important;
      }

      &:nth-child(3){
        display: none;
      }
    }
  }
}

.som-news-normal {
  width: 100%;

  .som-news {

    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      width: 50%;
      height: 100vh;
      position: relative;

      .som-news-image {
          width: 80%;
          height: 50vh;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          @include mq($from: desktop) {
            width: 50%;
          }
      }

      .som-news-info-wrapper {
        margin-left: 0 !important;

        h1 {
          font-size: 24px !important;
          line-height: 1.2 !important;
          text-align: center;
          margin-top: 0 !important;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 40px;
          margin-bottom: 0 !important;
          width:90%;

          @include mq($from: desktop) {
            width: 40%;
          }
        }
        h2 {
          font-size: 16px !important;
          margin-top: 0 !important;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 40px;
          color: #4e4e4e;
        }
        p {
          display: none;
        }
      }
    }
    &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      width: 25%;
      height: 50vh;
      min-height: 50vh;

      .som-news-image {
        @include mq($from: desktop) {
          width: 80%;
          height: 50vh;
          margin-left: auto;
          margin-right: auto;
          margin-top: 40px;
        }
      }

      .som-news-info-wrapper {
        margin-left: 0 !important;
        height: auto !important;
        padding-left: 10px;
        padding-right: 10px;
        width: 90% !important;

        h1, h2 {
          font-size: 16px !important;
          line-height: 1.3 !important;
          margin-top: 6px !important;
          margin-bottom: 0px !important;
          text-transform: capitalize;
        }

        h2 {
          color: #4e4e4e;
        }
        p {
          display: none;
        }
      }
    }
  }
}

.som-news-half {
  width: 100%;
  border-right: 1px solid #121212;

  .som-news {
    display: none;

    &:nth-child(2) {
      display: block;
      width: 100%;
    }
  }
}

.som-page-title-news {
  position: absolute;
  top: 140px;
  left: 5%;
  width: 40%;
  display: none;

  @include mq($from: desktop) {
    display: block;
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.som-news-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .som-news {
    width: 50% !important;
    text-align: center;
    border-right: 1px solid #121212;
    box-sizing: border-box;
    display: none;

    &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      display: block;
    }
    .som-scroll-text {
      width: 100% !important;
    }



    .som-news-image {
      height: 25vh !important;
    }
  }
}

.som-news {
  width: 100%;
  margin-right: 0;
}

.som-news-image {
  @include mq($from: desktop) {
    width: 50%;
    height: 100vh;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.som-news-info-wrapper {
  @include mq($from: desktop) {
    width: 50%;
    height: 100vh;
  }
}

.som-news {
  .som-scroll-text {
    padding-bottom: 0 !important;

    h1 {
      color: #121212;
    }
  }

  &.page {
    h2 {
      text-transform: capitalize;
      color: #4e4e4e;
    }
  }
}

.som-news-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #121212;
  position: relative;

  @include mq($from: desktop) {
    width: 40%;
    margin-left: auto;
    margin-right: 10%;
  }

  img {
    width: 100%;

    @include mq($from: desktop) {
      position: absolute;
      left: -110%;
    }
  }

  p {
    padding-left: 6%;
    line-height: 1.5;
    color: #121212;
  }

  blockquote {
    padding: 0;
    margin: 0;

    p {
      font-size: 32px;
      line-height: 1.2;
      color: #121212 !important;
      text-align: center;

      &:before {
        background-image: url('/uploads/quote.svg');
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        background-size: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
      }
    }
  }

  ol {
    margin: 0;
    padding: 0;
    padding-left: 10%;
  }

  h1 {
    color: #121212;
    padding-left: 6%;
  }

  h2, h3, h4, h5 {
    padding-left: 6%;
  }

  a{
    position: relative;
    color: inherit;
  }

  li {
    color: #121212;
    line-height: 1.5;

    p {
      padding: 0;
    }
  }

  iframe {
    margin-left: 6%;
    margin-bottom: 30px;
  }
}

@import 'homepage';
@import 'panel';
